[default]
aws_access_key_id={{ lookup('aws_ssm', '/iam/jenkins/aws-access-key-id', region='eu-west-1' ) }}
aws_secret_access_key={{ lookup('aws_ssm', '/iam/jenkins/aws-secret-access-key', region='eu-west-1' ) }}
